* {
    box-sizing: border-box;
}

:root {
    --primary: #84878C;
    --secondary: #59201B;
    --accent: #A6615B;
    --background: #F2F2F2;
    --text: #0D0D0D;
    --corners: 24px 0;
}

body {
    font-size: var(--base-font-size);
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--text);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: calc(var(--base-font-size * 2.9));
}

h2 {
    margin: 0;
    font-size: var(--base-font-size);
    text-transform: uppercase;
    color: var(--accent);
    letter-spacing: .25em;
}

h3 {
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--secondary);
}

img {
    max-width: 100%;
    border-radius: var(--corners);
    background-color: var(--primary);
}

.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: 2rem;
    justify-content: center;
}

ul svg {
    width: 36px;
    height: 36px;
}

.social {
    fill: var(--secondary)
}

.social:hover {
    fill: var(--primary)
}

.main-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}

/* You can also use image cropping... look it up (object-fit, object-position, overflow) */
.main-article img {
    margin: 0 auto;
    width: 75%;
}

footer {
    text-align: center;
}

.footer-text {
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: calc(var(--base-font-size) * .85);
}

.footer-column li {
    line-height: 2;
}

.h2-footer {
    margin: 2rem 0;
}

.icons .social {
    fill: var(--text)
}

.icons .social:hover {
    fill: var(--accent)
}

/* Projects Section */
main {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

@media(min-width: 750px) {
    :root {
        --base-font-size: 1.125rem;
    }

    body {
        padding: 5rem;
    }

    .main-article {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
    }

    .main-article img {
        max-height: 400px;
        height: auto;
        width: auto;
        margin: 0 0 0 auto;
    }

    .icons {
        justify-content: flex-start;
    }

    footer {
        text-align: left;
    }

    .footer-text {
        grid-template-columns: repeat(3, 1fr);
    }
}
